* {
  padding: 0;
  margin: 0;
}

.main-nav{
  width: 2500px;
  background: #002754;
}

.main-nav a{
  display: block;
  padding: 10px 0px 10px 20px;
  text-decoration: none;
  border-bottom: 4px solid white;
  color: white;
}

.main-nav li{
  list-style: none;
}

.main-nav-ul ul{
  display: none;
}

.main-nav-ul ul a::before{
  content: "\203A";
  margin-right: 20px;

}


.main-nav-ul li.tab ul{
  display: block;
}
.main-nav .sub-arrow::after{
  content: '\203A';
  float: right;
  margin-right: 15px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -noz-transform: rotate(90deg);
}

.main-nav li.tab .sub-arrow::after{
  content: "\2039"
}


.main-nav:hover .sub-menu {display: block;}
